@use '../../../scss/variables/colors.scss' as *;
@use '../../../scss/functions.scss' as *;

.app-label {
  font-weight: 500;
  font-size: remm(14px);
  line-height: 100%;
  letter-spacing: remm(0.15px);
  text-align: center;
}
