@use '../../scss/utils/glass-box.scss' as *;
@use '../../scss/variables/colors.scss' as *;
@use '../../scss/functions.scss' as *;

$app-glass-card-border-radius: remm(16px);

.app-glass-card {
  @include app-glass-box($app-glass-card-border-radius);
  background-color: transparent;

  &-children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .app-main-heading {
    color: $cyan;
  }

  .app-sub-heading,
  & {
    color: $white;
  }
}
