@use '../../scss/variables/colors.scss' as *;
@use '../../scss/utils/glass-box.scss' as *;
@use '../../scss/functions.scss' as *;
@use '../../scss/breakpoints.scss' as *;
@use '../../scss/utils/darkener.scss' as *;

$header-height: remm(48px);

.app-header-layout {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: remm(16px) remm(22px);
  width: 100%;

  .app-header {
    @include app-glass-box(remm(24px), auto, 100%);
    background-color: $header-bg;
    flex-direction: column;
    padding: 0;
    position: relative;
    z-index: 5;

    &__content {
      position: relative;
      z-index: 5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: $header-height;
      border-radius: $header-height;
      padding: remm(8px);
    }

    &__logo {
      margin-left: remm(15px);
      margin-right: remm(15px);
      transform: rotate(0deg);
      transition: transform 0.3s ease;
    }

    &__logo-wrap {
      display: flex;
      align-items: center;
      font-size: remm(18px);
      font-weight: 600;
      color: $cyan;
      font-family: 'Montserrat', sans-serif;
    }

    &__logo-wrap,
    &__nav-wrap {
      position: relative;
      z-index: 2;
    }

    &__nav-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__menu-button {
      margin-left: remm(8px);
    }
  }
}

@media (max-width: ($bp-md - 1px)) {
  .app-hide-on-md {
    display: none !important;
  }

  .app-show-on-md {
    display: flex !important;
  }

  .app-header-layout {
    height: auto !important;
  }

  .app-header {
    &__nav-wrap {
      position: static !important;
    }
  }

  .app-header-layout {
    &__mob-menu-drop-shadow {
      @include app-darkener(0.5, 100vh, 100%);
      position: fixed;
      backdrop-filter: blur(8px);
      display: block;
      z-index: 4;
      cursor: pointer;
    }

    &:not(&--mobile-menu-opened) &__mob-menu-drop-shadow {
      display: none !important;
    }

    &:not(&--mobile-menu-opened) {
      .app-header__mobile-menu-items {
        height: 0 !important;
        overflow: hidden;
        padding-bottom: 0 !important;
      }
    }

    &--mobile-menu-opened {
      height: 100vh !important;
      align-items: flex-start;

      .app-header__mobile-menu-items {
        height: remm(200px) !important;
        overflow: visible;
      }

      .app-header__logo {
        transform: rotate(20deg);
      }
    }
  }
}

@media (min-width: $bp-md) {
  .app-hide-on-more-md {
    display: none !important;
  }

  .app-show-on-more-md {
    display: flex !important;
  }
}
