@use '../variables/colors.scss' as *;
@use '../variables/constants.scss' as *;

@use '../functions.scss' as *;

.app-button-base {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: remm(12px);

  display: flex;
  justify-content: center;
  align-items: center;
  height: $button-height;
  border-radius: $button-height;
  padding: remm(4px) remm(12px);
  color: $black;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}
