@use '../../../scss/variables/colors.scss' as *;
@use '../../../scss/functions.scss' as *;

.app-main-heading {
  color: $blue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: remm(34px);
  line-height: 125%;
  letter-spacing: remm(0.25px);
  text-align: center;
}
