$black: #1a1a1a;
$white: #fefefe;

$blue: #005CAD;
$dark-teal: #00243A;
$cyan: #00FFFF;


$red: #ff0000;
$green: #00cc00;

$page-bg-color: #e9e9e0;

$primary-color: $dark-teal;

$header-bg: rgba($primary-color, .8);
$glass-box-bg: rgba($primary-color, .8);
