@use '../../../scss/functions.scss' as *;

.app-sub-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: remm(16px);
  line-height: 175%;
  letter-spacing: remm(0.15px);
  text-align: center;

  &-xs {
    font-size: remm(10px);
    font-weight: 400;
  }

  &-sm {
    font-size: remm(12px);
    font-weight: 400;
  }
}
